body{
    background-color: grey;
}

div{
    background-color: white;
    width: 400px;
    border-radius: 10px;
    box-shadow: 10px 10px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

span{
    display: flex;
}


label{
    font-size: 20px;
}

.io{
    font-size: 30px;
}

#inputBox{
    width: 250px;
    height: 35px;
}

button{
    border-radius: 10px;
    background-color: red;
    color: white;
    width: 100px;
    height: 35px;
    font-size: 20px;
    margin: 20px;
}

#inputUnit{
    margin: 0px;
}

