body{
    background-color: gray;
}

h1{
    text-align: center;
    font-size: 75px;
    margin-top: 50px;
}

div{
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    width: 300px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#timer{
    font-size: 3.5em;
}

.stopwatchButtons button{
    border-radius: 10px;
    font-size: 25px;
    margin: 10px;
    color: white;
}

#start{
    background-color: green;
}

#stop{
    background-color: red;
}

#reset{
    background-color: blue;
}

.speedButtons{
    display: flex;
    margin-top: 20px;
}

.speedButtons button{
    border-radius: 10px;
    font-size: 25px;
    margin: 10px;
    color: white;
}

#doubleSpeed{
    background-color: plum;
}

#halveSpeed{
    background-color: aqua;
}

.speedText{
    display: flex;
}

.speedText p{
    font-size: 25px;
}

#speed{
    margin-left: 5px;
    width: 60px;
    word-break: break-all;
}